<%- include('header.ejs') %>

<nav class="navbar bg-body-tertiary navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand">TODO List</a>
    <form action = "/login" method ="post">

      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign In</button>

    </form>
    
  </div>
  
</nav>


  

<%- include('footer.ejs') %>